<!-- cabecalho -->

<style>
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}
</style>

<!-- cabecalho -->

<style>
img {
    border-radius: 8px;
}
</style>	



<style>
.button {
    background-color: #4CAF50;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

</style>

<style>
a {
    background-color: #4CAF50;
    border-radius: 8px;
    color: white;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    cursor: pointer;
}
</style>

<style>


ul {
    background: #3399ff;
    padding: 20px;
    border-radius: 8px;

}

</style>


	        
